<div class="filter-title">Sorting by:</div>
<button mat-button class="sorting-button">date</button>
<button mat-button class="sorting-button">count of views</button>
<button mat-button class="sorting-button">alphabet</button>
<mat-checkbox class="example-margin"
              [color]="checkboxColor.color"
              [(ngModel)]="popular"
              (change)="toggle($event)">
  popular
</mat-checkbox>


<!--<mat-checkbox class="example-margin" [(ngModel)]="checked" [color]="checkboxColor.color" class="filter-checkbox">popular</mat-checkbox>-->
<!--<mat-checkbox class="example-margin" [(ngModel)]="checked" >I'm a checkbox</mat-checkbox>-->



<!--<section class="example-section">-->
<!--  <mat-checkbox class="example-margin" [(ngModel)]="checked">I'm a checkbox</mat-checkbox>-->
<!--</section>-->


<!--<div class="sorting-button word-sorting-block">-->
<!--  <label for="word-sorting">by word or sentence</label>-->
<!--  <input id="word-sorting" type="text">-->
<!--</div>-->
