@import "src/assets/styles/colors";

:host {
  //border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  //background: $main-light-grey;
  gap: 20px;
}

.filter-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #929292;
}

.sorting-button {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: $main-blue !important;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 10px;
}
