@import "../../../../../../assets/styles/colors";

:host {
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .user-name {
    font-size: 10px;
  }

  .login-button {
    width: 23px;
    height: 24px;
    border: 1px solid $main-blue;
    border-radius: 5px !important;
    background: #fff url("../../../../../../assets/img/login-icon.svg") no-repeat center center;
  }
}
