//@import "../../../../assets/styles/colors";

:host {
  margin: 45px auto;
}

.login-card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-label {
  font-size: 12px;
}

.log-buttons-group {
  margin: auto;
}

.login-form-button {
  width: 100px;
  height: 30px;
  background-color: #2f80ed;
  color: #ffffff;
  font-size: 14px;
}
