<div class="container">
  <mat-card class="login-card">
    <mat-card-header>
      <p class="login-card-title">Login</p>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form">
        <mat-form-field appearance="fill" class="login-input">
          <mat-label class="login-form-label">login</mat-label>
          <input matInput [(ngModel)]="loginValue" name="loginValue" />
        </mat-form-field>
        <mat-form-field>
          <mat-label class="login-form-label">password</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="passwordValue"
            name="passwordValue"
          />
        </mat-form-field>
        <div class="log-buttons-group">
          <button
            class="login-form-button"
            matSuffix
            mat-raised-button
            (click)="logIn()"
          >
            LogIn
          </button>
          <button
            class="login-form-button"
            matSuffix
            mat-raised-button
            (click)="logOut()"
          >
            LogOut
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
