@import "../assets/styles/colors";

:host {
  //border: 2px solid blue;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.main {
  //border: 2px solid turquoise;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

::ng-deep {
  .container {
    //border: 2px solid yellow;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

label {
  color: $main-blue;
}
