<div class="container">
  <app-back-button></app-back-button>
  <mat-card *ngIf="item$ | async as item" class="detail-card">
    <mat-card-content class="detail-card-content">
      <div class="detail-card-image">
        <a class="detail-card-image-link" href="https://www.youtube.com/watch?v={{ item.id }}" target="_blank">
          <img mat-card-image class="detail-card-img" [src]="item.imgUrl" width="480" height="360" alt="Card image"/>
        </a>
      </div>
      <div class="detail-card-info">
        <div class="detail-card-title">
          <div class="detail-card-title-text">{{ item.title }}</div>
          <div class="detail-card-channel">{{ item.channelTitle }}</div>
          <div class="detail-card-date">
            {{ item.publishedAt | date : "fullDate" }}
          </div>
        </div>
        <div class="detail-card-description-text">{{ item.description }}</div>
        <mat-card-actions class="detail-card-feedback">
          <div class="detail-card-feedback-group">
            <img
              src="assets/img/viewed-icon.svg"
              alt="viewed"
            />
            <span class="detail-card-feedback-text">{{ item.views }}</span>
          </div>
          <div class="detail-card-feedback-group">
            <img src="assets/img/liked-icon.svg" alt="liked"/>
            <span class="detail-card-feedback-text">{{ item.likes }}</span>
          </div>
          <div class="detail-card-feedback-group">
            <img
              src="assets/img/comments-icon.svg"
              alt="comments"
            />
            <span class="detail-card-feedback-text">{{ item.comments }}</span>
          </div>
        </mat-card-actions>
      </div>
    </mat-card-content>
    <mat-card-footer class="detail-card-footer">
      <mat-progress-bar
        appFooterBarColor
        [barColor]="item.dataBar"
        mode="determinate"
        class="detail-card-bar"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
