/* You can add global styles to this file, and also import other style files */
@import "assets/styles/colors";

html {
  height: 100%;
  background-color: $main-light-grey;
}



body {
  width: 1000px;
  height: 100%;
  margin: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $main-bg-color;
}
