/* You can add global styles to this file, and also import other style files */
@import "assets/styles/colors";

html {
  height: 100%;
}


body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $main-bg-color;
  margin: 0;
}

.main-content {
  margin: auto;
  width: 1000px;
}
